.bottom-ones{
    display: flex;
    justify-content: space-around;
}

.top-ones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    
}

.shop {
    border-style: dotted;
    width: 26%;

}

.pageHeader { text-align: center;
    margin: 7em 2em 3em 2em;

}

.coffee-wrapper{
    text-align: center;
}

.shop-wrapper{
    text-align: center;
    margin-bottom: 3em;
}


.add-coffee {
    display: inline-block;
}

#fillOne {
    visibility: hidden;
}
#fillTwo {
    visibility: hidden;
}
#fillThree {
    visibility: hidden;
}

.footer {
margin: 25em auto;
}

.credit {
    text-align: center;
    padding: 2em;
}